{{lookup-form zipLookup="zipLookup"}}

<button class = "btn btn-info" {{action 'committeesLink'}}>See List Of Senate Committess</button>
<button class = "btn btn-danger" {{action 'houseCommitteesLink'}}>See List Of House Committess</button>
<button class = "btn btn-success" {{action 'allCommittees'}}>See List Of ALL Committess</button>
<br>
<button class = "btn btn-warning" {{action 'recentBills'}}>Recent Bills</button>
